<div class="col-10 offset-1 about">
  
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/Handley89">Chris,</a> A dedicated web developer honing his craft. Chris is originally from Austin,Tx and plans furthering his career in 
    the blossoming tech industry there.
  </p>
  <br />
  <p>
    Through University of Arizona Coding Bootcamp, Chris is learning the fundamentals to becoming a web developer. Chris has major plans to create his own company once he has the tools necessary. Chris hopes to be a mentor to the next generations coders!!
  </p>


  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

   <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Chris Handley</h2>
      <br />
      <p>
        Chris Handley is a web developer. He is new to the hacking scene but eager and ready to accept new challenges. He is a nomad and loves traveling and moving to new places. So don't be surprised if you see him in a city near you.
      </p>
    </div>
  </div>

  <br class="clear" />

</div>

<br class="clear" />

<br />

<br />

<br />

<br />
